@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primary-color: #2980b9;
$secondary-color: #1abc9c;
$edit-btn-color: #34acdb;
$delete-btn-color: #e73c3c;

:root {
  --light-grey: #fdfdfd;
  --dark-grey: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.5s, color 0.5s;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
}

.btn {
  border: none;
  background: $secondary-color;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: filter 0.3s ease;
  margin-right: 0.5rem;
  outline: none;
  cursor: pointer;

  &-round {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.blue {
      background: $edit-btn-color;
    }

    &.red {
      background: $delete-btn-color;
    }
  }

  &:hover {
    filter: brightness(85%);
  }
}

.form {
  margin: 1rem auto;

  .text-input {
    border: none;
    border-bottom: 1px solid #999;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 1rem;
    outline-color: $secondary-color;
  }
}

.list {
  list-style: none;
  border: 1px solid #aaa;
  padding: 0 1rem;
  margin: 1rem auto;

  .list-item {
    border-bottom: 1px solid #aaa;
    padding: 0.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border: none;
    }

    .buttons {
      display: flex;
    }
  }
}

// https://codepen.io/cabrera/pen/mKoBa
.checkbox-field {
  $checkbox-color: #2ecc71;
  $transitionSpeed: 200ms;

  position: relative;

  input[type='checkbox'] + label {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--text-color);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    transition: all ease-out $transitionSpeed;
    text-indent: 60px;
    white-space: nowrap;
    color: var(--text-color);
    user-select: none;

    &:after {
      content: '';
      position: absolute;
      width: 0px;
      height: 10px;
      border-bottom: 3px solid $checkbox-color;
      border-left: 3px solid $checkbox-color;
      top: 25%;
      left: 50%;
      transform-origin: bottom left;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all ease-out $transitionSpeed;
    }
  }

  input[type='checkbox']:checked + label {
    border: 3px solid $checkbox-color;

    &:after {
      opacity: 1;
      width: 25px;
    }
  }

  .chk {
    display: none;
  }
}

.change-page-limit {
  margin-top: 1rem;

  span {
    font-size: 0.9rem;
  }
  .page-limit {
    margin-right: 1rem;
    width: 6rem;
    padding: 0.3rem 0.6rem;
    text-align: center;
    border: 1px solid #ddd;
  }
}

.filter-list {
  list-style: none;
  display: flex;

  .btn.active {
    background: lighten($secondary-color, 10);
  }
}

// Theme switch
.theme-switch {
  display: flex;
  align-items: center;

  .switch {
    position: relative;
    display: inline-block;
    margin: 0 0.5rem;
    width: 50px;
    height: 26px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ccc;
      border-radius: 34px;
      transition: 0.4s;
    }

    .slider::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: 4px;
      bottom: 4px;
      background: #fff;
      border-radius: 50%;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: $secondary-color;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $secondary-color;
    }

    input:checked + .slider::before {
      transform: translateX(23px);
    }
  }
}

.light {
  --bg-color: var(--light-grey);
  --text-color: var(--dark-grey);
}

.dark {
  --bg-color: var(--dark-grey);
  --text-color: var(--light-grey);
}

// Login/Signup forms
.login-form,
.signup-form {
  width: 360px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background: #ddd;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-weight: 500;
  }

  input {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $primary-color;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;

    &:focus {
      width: 280px;
      border-color: $secondary-color;
    }
  }

  .btn {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $secondary-color;
    padding: 14px 40px;
    outline: none;
    color: var(--text-color);
    border-radius: 24px;
    transition: 0.25s;

    &:hover {
      background: $secondary-color;
    }
  }

  span {
    font-size: 0.9rem;

    .change-form-btn {
      border: none;
      background: none;
      color: var(--text-color);
      font-size: 0.9rem;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
}
